<!DOCTYPE html>
<html>
<head>
    <title> Thông tin từ HYPERGEAR TP.HCM</title>
    <meta charset="utf-8" />
</head>
<body>
    <div style="background-color: transparent;width:100%!important;">
        <div style="border-top:0px solid transparent;border-left:0px solid transparent;border-bottom:0px solid transparent;border-right:0px solid transparent;padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px">
            <!--<div style="font-size:10pt;color:#404040;background-color: #f1f1f1;">-->
            <table border="0" cellpadding="0" cellspacing="0" style="max-width:550px;margin:0 auto" width="100%">
                <tbody>
                    <tr id="m_-3796304536196329836m_8949612526500422794content">
                        <td style="padding:0 20px 0 20px;font-size:10pt;background-color: #f1f1f1;" class="">
                            <p>
                                <b>THƯ XÁC NHẬN MẬT KHẨU KHÁCH HÀNG</b>
                                <br>
                                <br>
                                <b>Kính gửi:	Quý khách hàng {{Name}}</b><br>
                                Thư điện tử: 	<a href="mailto:{{Email}}" rel="noreferrer" target="_blank">{{Email}}</a><br>
                                Mật khẩu của quý khách là:	<b>{{Pass}}</b> <br />
                            </p>
                            <br>
                            <br>

                            <p>
                                <b>Công ty TNHH HYPERGEAR xin trân trọng thông báo:</b>
                            </p>

                            <p>
                                Công ty chúng tôi đã cung cấp mật khẩu:
                            </p><ul>
                                <li>Ngày: {{date}}</li>
                            </ul>
                            <p></p>
                            <p>
                                đến Quý khách hàng tại hộp thư điện tử  <a href="{{Email}}" rel="noreferrer" target="_blank">{{Email}}</a>

                            </p>
                            <br>
                            <p>
                                Đồng thời, quý khách có thể phản hồi thông tin điều chỉnh (nếu có) và các yêu cầu khác bằng một trong các phương thức sau đây

                                <br>
                                <br>
                                Liên hệ qua số điện thoại: <b> 0123456789 (số máy lẻ: 5014)</b>
                                <br>
                                <br>
                                <b>Trân trọng kính chào!</b>
                                <br>
                                <br>
                                <b>Đội Ngũ HYPERGEAR TPHCM.</b>
                                <br>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>