<!DOCTYPE html>
<html>
<head>
    <title> Thông tin đơn hàng mới từ HYPERGEAR TP.HCM</title>
    <meta charset="utf-8" />
</head>
<body>
    <div style="background-color: transparent;width:100%!important;">
        <div style="border-top:0px solid transparent;border-left:0px solid transparent;border-bottom:0px solid transparent;border-right:0px solid transparent;padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px">
            <!--<div style="font-size:10pt;color:#404040;background-color: #f1f1f1;">-->
                <table border="0" cellpadding="0" cellspacing="0" style="max-width:550px;margin:0 auto" width="100%">
                    <tbody>
                        <tr id="m_-3796304536196329836m_8949612526500422794content">
                            <td style="padding:0 20px 0 20px;font-size:10pt;background-color: #f1f1f1;" class="">
                                <p>
                                    <b style="text-align:center">THƯ XÁC NHẬN GIAO DỊCH HÓA ĐƠN ĐIỆN TỬ</b>
                                    <br>
                                    <br>
                                    <b>Kính gửi:	Quý khách hàng: {{Name}}</b><br>
                                    Địa chỉ:	{{Address}}<br>
                                    Mã số thuế:	<br>
                                    Thư diện tử: 	<a href="mailto:{{Email}}" rel="noreferrer" target="_blank">{{Email}}</a><br>
                                    Số điện thoại:	{{Phone}}<br />
                                    Trị giá đơn hàng của quý khách là:	{{Amount}}đ<br />
                                </p>
                                <br>
                                <br>

                                <p>
                                    <b>Công ty TNHH HYPERGEAR xin trân trọng thông báo:</b>
                                </p>

                                <p>
                                    Công ty chúng tôi đã gửi Hóa đơn GTGT điện tử:
                                </p><ul>
                                    <li>Ký hiệu: HYPER/21E</li>
                                    <li>Số: 0703467</li>
                                    <li>Lập ngày: {{date}}</li>
                                </ul>
                                <p></p>
                                <p>
                                    đến Quý khách hàng tại hộp thư điện tử  <a href="{{Email}}" rel="noreferrer" target="_blank">{{Email}}</a>

                                </p>
                                <br>
                                <p>
                                    Kính đề nghị Quý khách hàng vui lòng kiểm tra, đối chiếu nội dung ghi trên hóa đơn. Đồng thời, quý khách có thể phản hồi thông tin điều chỉnh hóa đơn (nếu có) và các yêu cầu về hóa đơn khác bằng một trong các phương thức sau đây

                                    <br>
                                    <br>
                                    Liên hệ qua số điện thoại: <b>Phòng Kế Toán - 0123456789 (số máy lẻ: 5014)</b>
                                    <br>
                                    <br>
                                    <b>Chân thành cảm ơn sự ủng hộ của Quý khách hàng.</b>
                                    <br>
                                    <br>
                                    <b>Trân trọng kính chào!</b>
                                    <br>
                                    <br>
                                    <b>Đội Ngũ HYPERGEAR TPHCM.</b>
                                    <br>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    <!--</div>-->
</body>
</html>