
@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<!-- ==========Sign-In-Section========== -->
<section class="account-section bg_img" data-background="/Frontend/Client/assets/images/account/account-bg.jpg">
    <div class="container">
        <div class="padding-top padding-bottom">
            <div class="account-area">
                <div class="section-header-3">
                    <span class="cate">Cinema</span>
                    <h2 class="title">Đăng nhập</h2>
                </div>
                <form class="account-form">
                    <div class="form-group">
                        <label for="email2">email<span>*</span></label>
                        <input type="text" placeholder="Nhập email" id="email2" required>
                    </div>
                    <div class="form-group">
                        <label for="pass3">Mật khẩu<span>*</span></label>
                        <input type="password" placeholder="Mật khẩu" id="pass3" required>
                    </div>
                    <div class="form-group checkgroup">
                        <input type="checkbox" id="bal2" required checked>
                        <label for="bal2">Ghi nhớ đăng nhập</label>
                        <a href="#0" class="forget-pass">Quên mật khẩu</a>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" value="log in">
                    </div>
                </form>
                <div class="option">
                    Chưa có tài khoản? <a href="@Url.Action("SignUp","User")">Đăng ký</a>
                </div>
                <div class="or"><span>hoặc</span></div>
                <ul class="social-icons">
                    <li>
                        <a href="#0">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#0">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#0">
                            <i class="fab fa-google"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- ==========Sign-In-Section========== -->
