
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<!-- ==========Sign-In-Section========== -->
<section class="account-section bg_img" data-background="~/Frontend/Client/assets/images/account/account-bg.jpg">
    <div class="container">
        <div class="padding-top padding-bottom">
            <div class="account-area">
                <div class="section-header-3">
                    <span class="cate">Cinema</span>
                    <h2 class="title">Đăng ký</h2>
                </div>
                <form class="account-form">
                    <div class="form-group">
                        <label for="email1">Email<span>*</span></label>
                        <input type="text" placeholder="Nhập email" id="email1" required>
                    </div>
                    <div class="form-group">
                        <label for="pass1">Mật khẩu<span>*</span></label>
                        <input type="password" placeholder="Nhập mật khẩu" id="pass1" required>
                    </div>
                    <div class="form-group">
                        <label for="pass2">Xác nhận mật khẩu<span>*</span></label>
                        <input type="password" placeholder="Nhập lại mật khẩu" id="pass2" required>
                    </div>
                    <div class="form-group checkgroup">
                        <input type="checkbox" id="bal" required checked>
                        <label for="bal">Tôi đồng ý với <a href="#0">Điều khoản và chính sách </a></label>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" value="Đăng ký">
                    </div>
                </form>
                <div class="option">
                   Đã có tài khoản? <a href="@Url.Action("SignIn","User")">Đăng nhập</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Sign-In-Section========== -->
