
@{
    ViewBag.Title = "Error404";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<!-- ==========Preloader========== -->
<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- ==========Preloader========== -->
<!-- ==========Four-Not-Four-Section========== -->
<section class="section-404 padding-top padding-bottom">
    <div class="container">
        <div class="thumb-404">
            <img src="~/Frontend/Client/assets/images/404.png" style="width:70%" alt="404">
        </div>
        <h3 class="title">Rất tiếc... Có vẻ như đường truyền không hợp lệ hoặc đã xảy ra lỗi :( </h3>
        <a href="/Home/Index" class="custom-button">Về trang chủ <i class="flaticon-right"></i></a>
    </div>
</section>
