<!DOCTYPE html>

<html class="no-js" lang="">
<head>

    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title | HyperGear</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/template/login/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/template/login/css/bootstrap.min.css">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/template/login/css/fontawesome-all.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="~/template/login/font/flaticon.css">
    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/template/login/style.css">

    <!--toastr-->
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />

</head>
<body>


    <div>
        @RenderBody()
    </div>


    <!-- jquery-->
    <script src="~/template/login/js/jquery-3.5.0.min.js"></script>
    <!-- Popper js -->
    <script src="~/template/login/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/template/login/js/bootstrap.min.js"></script>
    <!-- Imagesloaded js -->
    <script src="~/template/login/js/imagesloaded.pkgd.min.js"></script>
    <!-- Validator js -->
    <script src="~/template/login/js/validator.min.js"></script>
    <!-- Custom Js -->
    <script src="~/template/login/js/main.js"></script>
    <!--toastr-->
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
