
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<!-- ==========Speaker-Single========== -->
<section class="about-section padding-top ">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <div class="event-about-content">
                    <div class="section-header-3 left-style m-0">
                        <span class="cate">Chúng tôi là Hyper Cinema (rạp phim Hyper)</span>
                        <h2 class="title"></h2>
                        <p>
                            Là một trong những cụm rạp chiếu phim và là nhà phát hành, cụm rạp chiếu phim lớn nhất Việt Nam. Mục tiêu của chúng tôi là trở thành hình mẫu công ty điển hình đóng góp cho sự phát triển không ngừng của ngành công nghiệp điện ảnh Việt Nam.
                        </p>
                        <p>
                            Hyper Cinema Việt Nam sẽ tiếp tục cuộc hành trình bền bỉ trong việc góp phần xây dựng một nền công nghiệp điện ảnh Việt Nam ngày càng vững mạnh hơn cùng các khách hàng tiềm năng, các nhà làm phim, các đối tác kinh doanh uy tín, và cùng toàn thể xã hội.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-none d-lg-block">
                <div class="about-thumb">
                    <img src="~/Frontend/Client/assets/images/about/about-1.jpg" alt="about" style="width: fit-content; height: 330px; ">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Speaker-Single========== -->
<!-- ==========About-Counter-Section========== -->
<section class="about-counter-section padding-bottom padding-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="section-header-3 left-style mb-lg-0">
                    <span class="cate">Sự phát triển của Hyper</span>
                    <h2 class="title"></h2>
                    <p>Được thành lập từ năm 2018 cho đến nay</p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="about-counter">
                    <div class="counter-item">
                        <div class="counter-thumb">
                            <img src="/Frontend/Client/assets/images/about/about-counter01.png" alt="about">
                        </div>
                        <div class="counter-content">
                            <h3 class="title odometer" data-odometer-final="7"> </h3>
                            <h3 class="title">+</h3>
                        </div>
                        <span class="d-block info">Đối tác</span>
                    </div>
                    <div class="counter-item">
                        <div class="counter-thumb">
                            <img src="/Frontend/Client/assets/images/about/about-counter02.png" alt="about">
                        </div>
                        <div class="counter-content">
                            <h3 class="title odometer" data-odometer-final="7"></h3>
                            <h3 class="title">+</h3>
                        </div>
                        <span class="d-block info">Cụm</span>
                    </div>
                    <div class="counter-item">
                        <div class="counter-thumb">
                            <img src="/Frontend/Client/assets/images/about/about-counter03.png" alt="about">
                        </div>
                        <div class="counter-content">
                            <h3 class="title odometer" data-odometer-final="7"></h3>
                            <h3 class="title">+</h3>
                        </div>
                        <span class="d-block info">Vùng và thành phố</span>
                    </div>
                    <div class="counter-item">
                        <div class="counter-thumb">
                            <img src="/Frontend/Client/assets/images/about/about-counter04.png" alt="about">
                        </div>
                        <div class="counter-content">
                            <h3 class="title odometer" data-odometer-final="7"></h3>
                            <h3 class="title">+</h3>
                        </div>
                        <span class="d-block info">Màn chiếu mỗi cụm</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========About-Counter-Section========== -->
<!-- ==========Gallery-Section========== -->
<section class="gallery-section bg-one">
    <div class="container">
        <div class="row justify-content-center gallery-wrapper mb-30-none">
            <div class="col-lg-3 col-sm-6">
                <div class="gallery-item two">
                    <div class="gallery-thumb">
                        <img src="/Frontend/Client/assets/images/gallery/gallery05.jpg" alt="gallery">
                    </div>
                </div>
                <div class="gallery-item two">
                    <div class="gallery-thumb">
                        <img src="/Frontend/Client/assets/images/gallery/gallery06.jpg" alt="gallery">
                    </div>
                </div>
                <div class="gallery-item two">
                    <div class="gallery-thumb">
                        <img src="/Frontend/Client/assets/images/gallery/gallery07.jpg" alt="gallery">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 order-lg-1">
                <div class="gallery-item two">
                    <div class="gallery-thumb">
                        <img src="/Frontend/Client/assets/images/gallery/gallery11.jpg" alt="gallery">
                    </div>
                </div>
                <div class="gallery-item two">
                    <div class="gallery-thumb">
                        <img src="/Frontend/Client/assets/images/gallery/gallery12.jpg" alt="gallery">
                    </div>
                </div>
                <div class="gallery-item two">
                    <div class="gallery-thumb">
                        <img src="/Frontend/Client/assets/images/gallery/gallery13.jpg" alt="gallery">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="gallery-item two">
                    <div class="gallery-thumb">
                        <img src="/Frontend/Client/assets/images/gallery/gallery08.jpg" alt="gallery">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="gallery-item two">
                            <div class="gallery-thumb">
                                <img src="/Frontend/Client/assets/images/gallery/gallery09.jpg" alt="gallery">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="gallery-item two">
                            <div class="gallery-thumb">
                                <img src="/Frontend/Client/assets/images/gallery/gallery10.jpg" alt="gallery">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Gallery-Section========== -->
<script>
    function codeAddress() {
        $('.menu li a.informationac').addClass('active');
    }
    window.onload = codeAddress;
</script>