@model CinemaBooking.Models.dien_vien
@{
    ViewBag.Title = "Actor detail";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<!-- ==========Preloader========== -->
<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- ==========Preloader========== -->
<!-- ==========Overlay========== -->
<div class="overlay"></div>
<a href="#0" class="scrollToTop">
    <i class="fas fa-angle-up"></i>
</a>
<!-- ==========Banner-Section========== -->
<section class="speaker-banner bg_img" data-background="../Frontend/Client/assets/images/blog/blog01.jpg">
    @*<img src="~/Frontend/Client/assets/images/blog/blog01.jpg" />*@
    <div class="container">
        <div class="speaker-banner-content">
            <h2 class="title">Chi tiết</h2>
        </div>
    </div>
</section>
<!-- ==========Banner-Section========== -->
<!-- ==========Speaker-Single========== -->
<section class="speaker-single padding-top pt-lg-0">
    <div class="container">
        <div class="speaker-wrapper bg-six padding-top padding-bottom">
            <div class="speaker-thumb">
                <img src="/Frontend/Client/assets/images/speaker/speaker05.jpg" alt="speaker">
                <a href="#0">www.website.com</a>
            </div>
            <div class="speaker-content">
                <div class="author">
                    <h2 class="title">@Model.ho_ten </h2>
                    <div class="info">@Model.mo_ta</div>
                </div>
                <div class="speak-con-wrapper">
                    <div class="speak-con-area">
                        <div class="item">
                            <div class="item-thumb">
                                <img src="/Frontend/Client/assets/images/event/icon/event-icon03.png" alt="event">
                            </div>
                            <div class="item-content">
                                <span class="up">Drop us a line:</span>
                                <a href="MailTo:hello@Boleto .com">hello@Boleto .com</a>
                            </div>
                        </div>
                        <ul class="social-icons">
                            <li>
                                <a href="#0">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#0" class="active">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#0">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#0">
                                    <i class="fab fa-pinterest"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#0">
                                    <i class="fab fa-behance"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="content">
                    <h3 class="subtitle">About me</h3>
                    <p>@Model.chi_tiet</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Speaker-Single========== -->
<!-- ==========Speaker-Section========== -->
<section class="speaker-section padding-bottom padding-top">
    <div class="container">
        <div class="section-header-3">
            <span class="cate">listen to the</span>
            <h2 class="title">event speakers</h2>
            <p>
                World is committed to making participation in the event a harassment free experience for
                everyone, regardless of level of experience, gender, gender identity and expression
            </p>
        </div>
        <div class="speaker--slider">
            <div class="speaker-slider owl-carousel owl-theme">
                <div class="speaker-item">
                    <div class="speaker-thumb">
                        <a href="#0">
                            <img src="/Frontend/Client/assets/images/speaker/speaker01.jpg" alt="speaker">
                        </a>
                    </div>
                    <div class="speaker-content">
                        <h5 class="title">
                            <a href="#0">
                                Gerard Bryan
                            </a>
                        </h5>
                        <span>lead speaker</span>
                    </div>
                </div>
                <div class="speaker-item">
                    <div class="speaker-thumb">
                        <a href="#0">
                            <img src="/Frontend/Client/assets/images/speaker/speaker02.jpg" alt="speaker">
                        </a>
                    </div>
                    <div class="speaker-content">
                        <h5 class="title">
                            <a href="#0">
                                Raihan Rafuj
                            </a>
                        </h5>
                        <span>lead speaker</span>
                    </div>
                </div>
                <div class="speaker-item">
                    <div class="speaker-thumb">
                        <a href="#0">
                            <img src="/Frontend/Client/assets/images/speaker/speaker03.jpg" alt="speaker">
                        </a>
                    </div>
                    <div class="speaker-content">
                        <h5 class="title">
                            <a href="#0">
                                Bela Bose
                            </a>
                        </h5>
                        <span>lead speaker</span>
                    </div>
                </div>
                <div class="speaker-item">
                    <div class="speaker-thumb">
                        <a href="#0">
                            <img src="/Frontend/Client/assets/images/speaker/speaker04.jpg" alt="speaker">
                        </a>
                    </div>
                    <div class="speaker-content">
                        <h5 class="title">
                            <a href="#0">
                                Grass Hopper
                            </a>
                        </h5>
                        <span>lead speaker</span>
                    </div>
                </div>
            </div>
            <div class="speaker-prev">
                <i class="flaticon-double-right-arrows-angles"></i>
            </div>
            <div class="speaker-next">
                <i class="flaticon-double-right-arrows-angles"></i>
            </div>
        </div>
    </div>
</section>
<!-- ==========Speaker-Section========== -->
<script>
    function codeAddress() {
        $('.menu li a.informationac').addClass('active');
    }
    window.onload = codeAddress;
</script>