@model CinemaBooking.Models.dien_vien
@{
    ViewBag.Title = "Actor";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<!-- ==========Event-Section========== -->
<section class="event-section padding-top padding-bottom">
    <div class="container">
        <div class="row flex-wrap-reverse justify-content-center">
            <div class="col-sm-10 col-md-8 col-lg-3">
                <div class="widget-1 widget-banner">
                    <div class="widget-1-body">
                        <a href="#0">
                            <img src="/Frontend/Client/assets/images/sidebar/banner/banner01.jpg" alt="banner">
                        </a>
                    </div>
                </div>
                <div class="widget-1 widget-check">
                    <div class="widget-header">
                        <h5 class="m-title">Filter By</h5> <a href="#0" class="clear-check">Clear All</a>
                    </div>
                    <div class="widget-1-body">
                        <h6 class="subtitle">categories</h6>
                        <div class="check-area">
                            <div class="form-group">
                                <input type="checkbox" name="lang" id="cat1"><label for="cat1">all</label>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="lang" id="cat2"><label for="cat2">Screening</label>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="lang" id="cat3"><label for="cat3">meetings</label>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="lang" id="cat4"><label for="cat4">Performances</label>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="lang" id="cat5"><label for="cat5">workshops</label>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="lang" id="cat6"><label for="cat6">Exhibitions </label>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="lang" id="cat8"><label for="cat8">music shows</label>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="lang" id="cat9"><label for="cat9">comedy shows</label>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="lang" id="cat10"><label for="cat10">Award shows</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-1 widget-banner">
                    <div class="widget-1-body">
                        <a href="#0">
                            <img src="/Frontend/Client/assets/images/sidebar/banner/banner02.jpg" alt="banner">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 mb-50 mb-lg-0">
                <div class="filter-tab">
                    <div class="filter-area">
                        <div class="filter-main">
                            <div class="left w-100 justify-content-between">
                                <div class="item">
                                    <span class="show">Show :</span>
                                    <select class="select-bar">
                                        <option value="12">12</option>
                                        <option value="15">15</option>
                                        <option value="18">18</option>
                                        <option value="21">21</option>
                                        <option value="24">24</option>
                                        <option value="27">27</option>
                                        <option value="30">30</option>
                                    </select>
                                </div>
                                <div class="item mr-0">
                                    <span class="show">Sort By :</span>
                                    <select class="select-bar">
                                        <option value="showing">now showing</option>
                                        <option value="exclusive">exclusive</option>
                                        <option value="trending">trending</option>
                                        <option value="most-view">most view</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-10 justify-content-center">
                        <div class="col-sm-6 col-lg-4">
                            <div class="event-grid">
                                <div class="movie-thumb c-thumb">
                                    <a href="event-details.html">
                                        <img src="/Frontend/Client/assets/images/event/event01.jpg" alt="event">
                                    </a>
                                    <div class="event-date">
                                        <h6 class="date-title">28</h6>
                                        <span>Dec</span>
                                    </div>
                                </div>
                                <div class="movie-content bg-one">
                                    <h5 class="title m-0">
                                        <a href="event-details.html">Digital Economy Conference 2020</a>
                                    </h5>
                                    <div class="movie-rating-percent">
                                        <span>327 Montague Street</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="event-grid">
                                <div class="movie-thumb c-thumb">
                                    <a href="event-details.html">
                                        <img src="/Frontend/Client/assets/images/event/event02.jpg" alt="event">
                                    </a>
                                    <div class="event-date">
                                        <h6 class="date-title">28</h6>
                                        <span>Dec</span>
                                    </div>
                                </div>
                                <div class="movie-content bg-one">
                                    <h5 class="title m-0">
                                        <a href="event-details.html">web design conference 2020</a>
                                    </h5>
                                    <div class="movie-rating-percent">
                                        <span>327 Montague Street</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="event-grid">
                                <div class="movie-thumb c-thumb">
                                    <a href="event-details.html">
                                        <img src="/Frontend/Client/assets/images/event/event03.jpg" alt="event">
                                    </a>
                                    <div class="event-date">
                                        <h6 class="date-title">28</h6>
                                        <span>Dec</span>
                                    </div>
                                </div>
                                <div class="movie-content bg-one">
                                    <h5 class="title m-0">
                                        <a href="event-details.html">digital thinkers meetup</a>
                                    </h5>
                                    <div class="movie-rating-percent">
                                        <span>327 Montague Street</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="event-grid">
                                <div class="movie-thumb c-thumb">
                                    <a href="event-details.html">
                                        <img src="/Frontend/Client/assets/images/event/event04.jpg" alt="event">
                                    </a>
                                    <div class="event-date">
                                        <h6 class="date-title">28</h6>
                                        <span>Dec</span>
                                    </div>
                                </div>
                                <div class="movie-content bg-one">
                                    <h5 class="title m-0">
                                        <a href="event-details.html">world Digital Conference</a>
                                    </h5>
                                    <div class="movie-rating-percent">
                                        <span>327 Montague Street</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="event-grid">
                                <div class="movie-thumb c-thumb">
                                    <a href="event-details.html">
                                        <img src="/Frontend/Client/assets/images/event/event05.jpg" alt="event">
                                    </a>
                                    <div class="event-date">
                                        <h6 class="date-title">28</h6>
                                        <span>Dec</span>
                                    </div>
                                </div>
                                <div class="movie-content bg-one">
                                    <h5 class="title m-0">
                                        <a href="event-details.html">AIGA design conference</a>
                                    </h5>
                                    <div class="movie-rating-percent">
                                        <span>327 Montague Street</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="event-grid">
                                <div class="movie-thumb c-thumb">
                                    <a href="event-details.html">
                                        <img src="/Frontend/Client/assets/images/event/event06.jpg" alt="event">
                                    </a>
                                    <div class="event-date">
                                        <h6 class="date-title">28</h6>
                                        <span>Dec</span>
                                    </div>
                                </div>
                                <div class="movie-content bg-one">
                                    <h5 class="title m-0">
                                        <a href="event-details.html">
                                            Gartner IT
                                            Symposium/Xpo
                                        </a>
                                    </h5>
                                    <div class="movie-rating-percent">
                                        <span>327 Montague Street</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="event-grid">
                                <div class="movie-thumb c-thumb">
                                    <a href="event-details.html">
                                        <img src="/Frontend/Client/assets/images/event/event07.jpg" alt="event">
                                    </a>
                                    <div class="event-date">
                                        <h6 class="date-title">28</h6>
                                        <span>Dec</span>
                                    </div>
                                </div>
                                <div class="movie-content bg-one">
                                    <h5 class="title m-0">
                                        <a href="event-details.html">
                                            App Design and
                                            Development
                                        </a>
                                    </h5>
                                    <div class="movie-rating-percent">
                                        <span>327 Montague Street</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="event-grid">
                                <div class="movie-thumb c-thumb">
                                    <a href="event-details.html">
                                        <img src="/Frontend/Client/assets/images/event/event08.jpg" alt="event">
                                    </a>
                                    <div class="event-date">
                                        <h6 class="date-title">28</h6>
                                        <span>Dec</span>
                                    </div>
                                </div>
                                <div class="movie-content bg-one">
                                    <h5 class="title m-0">
                                        <a href="event-details.html">
                                            Cyber Security
                                            Chicago
                                        </a>
                                    </h5>
                                    <div class="movie-rating-percent">
                                        <span>327 Montague Street</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="event-grid">
                                <div class="movie-thumb c-thumb">
                                    <a href="event-details.html">
                                        <img src="/Frontend/Client/assets/images/event/event09.jpg" alt="event">
                                    </a>
                                    <div class="event-date">
                                        <h6 class="date-title">28</h6>
                                        <span>Dec</span>
                                    </div>
                                </div>
                                <div class="movie-content bg-one">
                                    <h5 class="title m-0">
                                        <a href="event-details.html">
                                            B2B Marketing
                                            Exchange
                                        </a>
                                    </h5>
                                    <div class="movie-rating-percent">
                                        <span>327 Montague Street</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="event-grid">
                                <div class="movie-thumb c-thumb">
                                    <a href="event-details.html">
                                        <img src="/Frontend/Client/assets/images/event/event10.jpg" alt="event">
                                    </a>
                                    <div class="event-date">
                                        <h6 class="date-title">28</h6>
                                        <span>Dec</span>
                                    </div>
                                </div>
                                <div class="movie-content bg-one">
                                    <h5 class="title m-0">
                                        <a href="event-details.html">
                                            Social Media
                                            Marketing World
                                        </a>
                                    </h5>
                                    <div class="movie-rating-percent">
                                        <span>327 Montague Street</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="event-grid">
                                <div class="movie-thumb c-thumb">
                                    <a href="event-details.html">
                                        <img src="/Frontend/Client/assets/images/event/event11.jpg" alt="event">
                                    </a>
                                    <div class="event-date">
                                        <h6 class="date-title">28</h6>
                                        <span>Dec</span>
                                    </div>
                                </div>
                                <div class="movie-content bg-one">
                                    <h5 class="title m-0">
                                        <a href="event-details.html">
                                            Brand Marketing
                                            Summit
                                        </a>
                                    </h5>
                                    <div class="movie-rating-percent">
                                        <span>327 Montague Street</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="event-grid">
                                <div class="movie-thumb c-thumb">
                                    <a href="event-details.html">
                                        <img src="/Frontend/Client/assets/images/event/event12.jpg" alt="event">
                                    </a>
                                    <div class="event-date">
                                        <h6 class="date-title">28</h6>
                                        <span>Dec</span>
                                    </div>
                                </div>
                                <div class="movie-content bg-one">
                                    <h5 class="title m-0">
                                        <a href="event-details.html">
                                            Marketing Nation
                                            Summit
                                        </a>
                                    </h5>
                                    <div class="movie-rating-percent">
                                        <span>327 Montague Street</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pagination-area text-center">
                        <a href="#0"><i class="fas fa-angle-double-left"></i><span>Prev</span></a>
                        <a href="#0">1</a>
                        <a href="#0">2</a>
                        <a href="#0" class="active">3</a>
                        <a href="#0">4</a>
                        <a href="#0">5</a>
                        <a href="#0"><span>Next</span><i class="fas fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Event-Section========== -->
<script>
    function codeAddress() {
        $('.menu li a.informationac').addClass('active');
    }
    window.onload = codeAddress;
</script>