
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<!-- ==========Contact-Section========== -->
<section class="contact-section padding-top">
    <div class="contact-container">
        <div class="bg-thumb bg_img" data-background="/Frontend/Client/assets/images/contact/contact.jpg"></div>
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-7 col-lg-6 col-xl-5">
                    <div class="section-header-3 left-style">
                        <span class="cate">Liên lạc với chúng tôi</span>
                        <p>Chúng tôi rất trân trọng khi nhận được sự phản hồi của bạn.</p>
                    </div>
                    <form class="contact-form" id="contact_form_submit" action="/Information/Contact" method="post">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label for="ho_ten">Tên <span>*</span></label>
                            <input type="text" placeholder="Nhập tên của bạn" name="ho_ten" id="ho_ten" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Địa chỉ email <span>*</span></label>
                            <input type="text" placeholder="Nhập email của bạn" name="email" id="email" required>
                        </div>
                        <div class="form-group">
                            <label for="tieu_de">Chủ đề <span>*</span></label>
                            <input type="text" placeholder="Nhập tiêu đề bạn muốn gửi" name="tieu_de" id="tieu_de" required>
                        </div>
                        <div class="form-group">
                            <label for="noi_dung">Tin nhắn <span>*</span></label>
                            <textarea name="noi_dung" id="noi_dung" placeholder="Nhập tin nhắn của bạn" required></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Gửi">
                        </div>
                    </form>
                </div>
                <div class="col-md-5 col-lg-6">
                    <div class="padding-top padding-bottom contact-info">
                        <div class="info-area">
                            <div class="info-item">
                                <div class="info-thumb">
                                    <img src="/Frontend/Client/assets/images/contact/contact01.png" alt="contact">
                                </div>
                                <div class="info-content">
                                    <h6 class="title">Hotline</h6>
                                    <a>1600 6666</a>
                                </div>
                            </div>
                            <div class="info-item">
                                <div class="info-thumb">
                                    <img src="/Frontend/Client/assets/images/contact/contact02.png" alt="contact">
                                </div>
                                <div class="info-content">
                                    <h6 class="title">Email</h6>
                                    <a href="Mailto:info@hypercinema.com">info@hypercinema.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Contact-Section========== -->
<!-- ==========Contact-Counter-Section========== -->
@*<section class="contact-counter padding-top padding-bottom">
    <div class="container">
        <div class="row justify-content-center mb-30-none">
            <div class="col-sm-6 col-md-3">
                <div class="contact-counter-item">
                    <div class="contact-counter-thumb">
                        <i class="fab fa-facebook-f"></i>
                    </div>
                    <div class="contact-counter-content">
                        <div class="counter-item">
                            <h5 class="title odometer" data-odometer-final="130">0</h5>
                            <h5 class="title">k</h5>
                        </div>
                        <p>Followers</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="contact-counter-item active">
                    <div class="contact-counter-thumb">
                        <i class="fas fa-users"></i>
                    </div>
                    <div class="contact-counter-content">
                        <div class="counter-item">
                            <h5 class="title odometer" data-odometer-final="35">0</h5>
                            <h5 class="title">k</h5>
                        </div>
                        <p>Members</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="contact-counter-item">
                    <div class="contact-counter-thumb">
                        <i class="fab fa-twitter"></i>
                    </div>
                    <div class="contact-counter-content">
                        <div class="counter-item">
                            <h5 class="title odometer" data-odometer-final="47">0</h5>
                            <h5 class="title">k</h5>
                        </div>
                        <p>Followers</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="contact-counter-item">
                    <div class="contact-counter-thumb">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="contact-counter-content">
                        <div class="counter-item">
                            <h5 class="title odometer" data-odometer-final="291">0</h5>
                            <h5 class="title">k</h5>
                        </div>
                        <p>Subscribers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
<!-- ==========Contact-Counter-Section========== -->
<script>
    function codeAddress() {
        $('.menu li a.contactac').addClass('active');
    }
    window.onload = codeAddress;
</script>