
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<!-- ==========Contact-Section========== -->
<section class="contact-section padding-top">
    <div class="contact-container">
        <div class="bg-thumb bg_img" data-background="/Frontend/Client/assets/images/contact/contact.jpg"></div>
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-7 col-lg-6 col-xl-5">
                    <div class="section-header-3 left-style">
                        <span class="cate">contact us</span>
                        <h2 class="title">get in touch</h2>
                        <p>We’d love to talk about how we can work together. Send us a message below and we’ll respond as soon as possible.</p>
                    </div>
                    <form class="contact-form" id="contact_form_submit" action="/Information/Contact" method="post">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label for="ho_ten">Name <span>*</span></label>
                            <input type="text" placeholder="Enter Your Full Name" name="ho_ten" id="ho_ten" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email <span>*</span></label>
                            <input type="text" placeholder="Enter Your Email" name="email" id="email" required>
                        </div>
                        <div class="form-group">
                            <label for="tieu_de">Subject <span>*</span></label>
                            <input type="text" placeholder="Enter Your Subject" name="tieu_de" id="tieu_de" required>
                        </div>
                        <div class="form-group">
                            <label for="noi_dung">Message <span>*</span></label>
                            <textarea name="noi_dung" id="noi_dung" placeholder="Enter Your Message" required></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Gửi">
                        </div>
                    </form>
                </div>
                <div class="col-md-5 col-lg-6">
                    <div class="padding-top padding-bottom contact-info">
                        <div class="info-area">
                            <div class="info-item">
                                <div class="info-thumb">
                                    <img src="/Frontend/Client/assets/images/contact/contact01.png" alt="contact">
                                </div>
                                <div class="info-content">
                                    <h6 class="title">phone number</h6>
                                    <a href="Tel:82828282034">+1234 56789</a>
                                </div>
                            </div>
                            <div class="info-item">
                                <div class="info-thumb">
                                    <img src="/Frontend/Client/assets/images/contact/contact02.png" alt="contact">
                                </div>
                                <div class="info-content">
                                    <h6 class="title">Email</h6>
                                    <a href="Mailto:info@gmail.com">info@Boleto .com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Contact-Section========== -->
<!-- ==========Contact-Counter-Section========== -->
<section class="contact-counter padding-top padding-bottom">
    <div class="container">
        <div class="row justify-content-center mb-30-none">
            <div class="col-sm-6 col-md-3">
                <div class="contact-counter-item">
                    <div class="contact-counter-thumb">
                        <i class="fab fa-facebook-f"></i>
                    </div>
                    <div class="contact-counter-content">
                        <div class="counter-item">
                            <h5 class="title odometer" data-odometer-final="130">0</h5>
                            <h5 class="title">k</h5>
                        </div>
                        <p>Followers</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="contact-counter-item active">
                    <div class="contact-counter-thumb">
                        <i class="fas fa-users"></i>
                    </div>
                    <div class="contact-counter-content">
                        <div class="counter-item">
                            <h5 class="title odometer" data-odometer-final="35">0</h5>
                            <h5 class="title">k</h5>
                        </div>
                        <p>Members</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="contact-counter-item">
                    <div class="contact-counter-thumb">
                        <i class="fab fa-twitter"></i>
                    </div>
                    <div class="contact-counter-content">
                        <div class="counter-item">
                            <h5 class="title odometer" data-odometer-final="47">0</h5>
                            <h5 class="title">k</h5>
                        </div>
                        <p>Followers</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="contact-counter-item">
                    <div class="contact-counter-thumb">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="contact-counter-content">
                        <div class="counter-item">
                            <h5 class="title odometer" data-odometer-final="291">0</h5>
                            <h5 class="title">k</h5>
                        </div>
                        <p>Subscribers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Contact-Counter-Section========== -->
<script>
    function codeAddress() {
        $('.menu li a.contactac').addClass('active');
    }
    window.onload = codeAddress;
</script>