@model PagedList.IPagedList<CinemaBooking.Models.dao_dien>
@using PagedList.Mvc
@{
    ViewBag.Title = "Danh Sách Đạo Diễn";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<!-- ==========Event-Section========== -->
<section class="movie-section padding-top padding-bottom">
    <div class="container">
        <div class="row flex-wrap-reverse justify-content-center">
            @*<div class="col-sm-10 col-md-8 col-lg-3">
                <div class="widget-1 widget-banner">
                        <div class="widget-1-body">
                            <a href="#0">
                                <img src="/Frontend/Client/assets/images/sidebar/banner/banner01.jpg" alt="banner">
                            </a>
                        </div>
                    </div>


                </div>*@
            @*<div class="widget-1 widget-banner">
                    <div class="widget-1-body">
                        <a href="#0">
                            <img src="/Frontend/Client/assets/images/sidebar/banner/banner02.jpg" alt="banner">
                        </a>
                    </div>
                </div>*@
        </div>
        <div class="col-lg-12 mb-50 mb-lg-0">
            <div class="filter-tab tab">
                <div class="filter-area tt-menu-director tt-open-director" style=" left: 0px; z-index: 100; width: 100%; display: block; background-color: #ffffff00; border-radius: 10px;">
                    <input id="SearchDirector" name="nameDirector" class="autosuggest" type="text" placeholder="Tìm kiếm đẹo diễn..." autocomplete="off"  >
                </div>
                <div class="tab-area">
                    <div class="tab-item active">
                        <div class="row mb-10">
                            @foreach (var item in Model)
                            {
                                <div class="col-sm-4 col-lg-2" style=" margin-bottom: 40px;">
                                    <div class="speaker-item">
                                        <div class="speaker-thumb">
                                            <a href="@Url.Action("DirectorDetail","Information", new { id=item.slug })">
                                                <img src="~/images/information/@item.anh" alt="speaker" style="height: 300px; width: fit-content;">
                                            </a>
                                        </div>
                                        <div class="speaker-content">
                                            <h5 class="title">
                                                <a href="@Url.Action("DirectorDetail","Information", new { id=item.slug })">
                                                    @item.ho_ten
                                                </a>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="pagination-area text-center">
                    @Html.PagedListPager(Model, page => Url.Action("Director", "Information", new { page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Event-Section========== -->
<script>
    function codeAddress() {
        $('.menu li a.informationac').addClass('active');
    }
    window.onload = codeAddress;
</script>