
@{
    ViewBag.Title = "Chính sách thanh toán";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<section class="blog-section padding-top padding-bottom">
    <div class="container">
        <div class="row justify-content-center mb-30-none">
            <div class="col-lg-9 mb-50 mb-lg-0">

                <div class="post-item post-details">
                    <div class="term-content">
                        <div class="content">
                            <div class="entry-content p-0">
                                <div style="text-align: center;">
                                    <span class="head-term">CHÍNH SÁCH THANH TOÁN</span>
                                </div>
                            </div>
                            <div class="post-header">
                                <h4 class="term-title">
                                    1. Quy định về thanh toán:
                                </h4>
                                <p class="p-term">

                                    Khách hàng có thể lựa chọn các hình thức thanh toán sau để thanh toán cho giao dịch đặt vé trên website HyperCinema:
                                    <br>
                                    - Thanh toán bằng Ví điện tử MoMo.
                                    <br>
                                    - Thẻ Paypal.
                                </p>
                            </div>
                            <div class="post-header">
                                <h4 class="term-title">
                                    2. Trường hợp giao dịch thanh toán không thành công:
                                </h4>
                                <p class="p-term">
                                    Giao dịch thanh toán không thành công có thể do nhiều nguyên nhân. Bạn tham khảo các nguyên nhân sau:
                                    <br>
                                    - Thẻ không đủ hạn mức/ số dư để thanh toán.<br>
                                    - Nhập sai thông tin thẻ.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Blog-Section========== -->
<script>
    function codeAddress() {
        $('.menu li a.newsfeedac').addClass('active');
    }
    window.onload = codeAddress;
</script>

