
@{
    ViewBag.Title = "Chính sách bảo mật";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<section class="blog-section padding-top padding-bottom">
    <div class="container">
        <div class="row justify-content-center mb-30-none">
            <div class="col-lg-9 mb-50 mb-lg-0">

                <div class="post-item post-details">
                    <div class="term-content">
                        <div class="content">
                            <div class="entry-content p-0">
                                <div style="text-align: center;">
                                    <span class="head-term">CHÍNH SÁCH BẢO MẬT THÔNG TIN CÁ NHÂN KHÁCH HÀNG</span>
                                </div>
                            </div>
                            <div class="post-header">
                                <h4 class="term-title">
                                    1. Mục đích và phạm vi thu thập thông tin:
                                </h4>
                                <p class="p-term">
                                    1.1 Việc thu thập thông tin cá nhân được thực hiện trên cơ sở khách hàng tự khai báo để đăng ký thành viên HyperCinema tại website www.hypercinema.vn, tùy từng thời điểm, thông tin thu thập sẽ bao gồm nhưng không giới hạn ở:
                                    
                                    <br>- Thông tin cá nhân như: họ tên, giới tính, độ tuổi, số CMND.
                                    <br>- Thông tin liên lạc như: địa chỉ, số điện thoại di động, email/fax.
                                    <br>- Các thông tin khác phục vụ cho chương trình khách hàng thân thiết (nếu có).
                                    <br> 1.2 Mục đích thu thập thông tin khách hàng bao gồm:

                                    <br> (i) Cung cấp các dịch vụ, sản phẩm theo nhu cầu của khách hàng;
                                    <br>(ii) Liên hệ xác nhận khi khách hàng đăng ký sử dụng dịch vụ, xác lập giao dịch trên website www.hypercinema.vn;
                                    <br>(iii) Thực hiện việc quản lý website www.hypercinema.vn, gửi thông tin cập nhật về website, các chương trình khuyến mại, ưu đãi/tri ân tới khách hàng;
                                    <br>(iv) Bảo đảm quyền lợi của khách hàng khi phát hiện các hành động giả mạo, phá hoại tài khoản, lừa đảo khách hàng;
                                    <br>(v) Liên lạc, hỗ trợ, giải quyết với khách hàng trong các trường hợp đặc biệt.
                                    <br>1.3 Để tránh nghi ngờ, trong quá trình giao dịch.
                                </p>
                            </div>
                            <div class="post-header">
                                <h4 class="term-title">
                                    2. Phạm vi sử dụng thông tin:
                                </h4>
                                <p class="p-term">
                                    
                                    2.1 HyperCinema chỉ sử dụng thông tin cá nhân của khách hàng cho các mục đích quy định tại Mục 1 hoặc mục đích khác (nếu có) với điều kiện đã thông báo và được sự đồng ý của khách hàng.

                                    <br>2.2 HyperCinema sẽ không sử dụng thông tin cá nhân của khách hàng để gửi quảng cáo, giới thiệu dịch vụ và các thông tin có tính thương mại khác khi chưa được khách hàng chấp thuận.

                                    <br>2.3 Khách hàng hiểu và đồng ý rằng HyperCinema có nghĩa vụ phải cung cấp thông tin khách hàng theo yêu cầu/quyết định của Cơ quan nhà nước có thẩm quyền và/hoặc quy định pháp luật. HyperCinema sẽ được miễn trừ mọi trách nhiệm liên quan đến bảo mật thông tin trong trường hợp này.
                                </p>
                            </div>
                            <div class="post-header">
                                <h4 class="term-title">
                                    3. Cách thức chỉnh sửa dữ liệu cá nhân:
                                </h4>
                                <p class="p-term">
                                    Để chỉnh sửa dữ liệu cá nhân của mình trên hệ thống thương mại điện tử của HyperCinema, khách hàng có thể tự đăng nhập và chỉnh sửa thông tin, dữ liệu cá nhân, ngoại trừ các thông tin về Họ tên, Giới tính, Ngày sinh và Chứng minh nhân dân.
                                </p>
                            </div>
                            <div class="post-header">
                                <h4 class="term-title">
                                    4. HyperCinema cam kết:
                                </h4>
                                <p class="p-term">

                                    4.1 Mọi thông tin cá nhân của khách hàng thu thập được từ website www.hypercinema.vn sẽ được lưu giữ an toàn; chỉ có khách hàng mới có thể truy cập vào tài khoản cá nhân của mình bằng tên đăng nhập và mật khẩu do khách hàng chọn.

                                    <br>4.2 HyperCinema cam kết bảo mật thông tin, không chia sẻ, tiết lộ, chuyển giao thông tin cá nhân của khách hàng, thông tin giao dịch trực tuyến trên website www.hypercinema.vn cho bất kỳ bên thứ ba nào khi chưa được sự đồng ý của khách hàng, trừ trường hợp phải thực hiện theo yêu cầu của các cơ quan Nhà nước có thẩm quyền, hoặc theo quy định của pháp luật hoặc việc cung cấp thông tin đó là cần thiết để HyperCinema cung cấp dịch vụ/ tiện ích cho khách hàng.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Blog-Section========== -->
<script>
    function codeAddress() {
        $('.menu li a.newsfeedac').addClass('active');
    }
    window.onload = codeAddress;
</script>


