
@{
    ViewBag.Title = "Điều khoản sử dụng";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<section class="blog-section padding-top padding-bottom">
    <div class="container">
        <div class="row justify-content-center mb-30-none">
            <div class="col-lg-9 mb-50 mb-lg-0">

                <div class="post-item post-details" >
                    <div class="term-content">
                        <div class="content">
                            <div class="entry-content p-0">
                                <div style="text-align: center;">
                                    <span class="head-term">ĐIỀU KHOẢN SỬ DỤNG</span>
                                </div>
                            </div>
                            <div class="post-header">
                                <h4 class="term-title">
                                    1. Trách nhiệm của người sử dụng:
                                </h4>
                                <p class="p-term">
                                    Khi truy cập vào trang web này, bạn đồng ý chấp nhận mọi rủi ro. HyperCinema và các bên đối tác khác không chịu trách nhiệm về bất kỳ tổn thất nào do những hậu quả trực tiếp,
                                    tình cờ hay gián tiếp; những thất thoát, chi phí (bao gồm chi phí pháp lý, chi phí tư vấn hoặc các khoản chi tiêu khác) có thể phát sinh trực tiếp hoặc gián tiếp do việc
                                    truy cập trang web hoặc khi tải dữ liệu về máy; những tổn hại gặp phải do virus, hành động phá hoại trực tiếp hay gián tiếp của hệ thống máy tính khác, đường dây điện thoại,
                                    phần cứng, phần mềm, lỗi chương trình, hoặc bất kì các lỗi nào khác; đường truyền dẫn của máy tính hoặc nối kết mạng bị chậm…
                                </p>
                            </div>
                            <div class="post-header">
                                <h4 class="term-title">
                                    2. Về nội dung trên trang web:
                                </h4>
                                <p class="p-term">
                                    Tất cả những thông tin ở đây được cung cấp cho bạn một cách trung thực như bản thân sự việc. HyperCinema và các bên liên quan không bảo đảm, hay có bất kỳ tuyên bố nào liên quan đến
                                    tính chính xác, tin cậy của việc sử dụng hay kết quả của việc sử dụng nội dung trên trang web này. Nội dung trên website được cung cấp vì lợi ích của cộng đồng và có tính phi
                                    thương mại. Các cá nhân và tổ chức không được phép sử dụng nội dung trên website này với mục đích thương mại mà không có sự ưng thuận của HyperCinema bằng văn bản. Mặc dù HyperCinema luôn cố
                                    gắng cập nhật thường xuyên các nội dung tại trang web, nhưng chúng tôi không bảo đảm rằng các thông tin đó là mới nhất, chính xác hay đầy đủ. Tất cả các nội dung website có thể được thay đổi bất kỳ lúc nào.
                                </p>
                            </div>
                            <div class="post-header">
                                <h4 class="term-title">
                                    3. Về bản quyền:
                                </h4>
                                <p class="p-term">
                                    HyperCinema là chủ bản quyền của trang web này. Việc chỉnh sửa trang, nội dung, và sắp xếp thuộc về thẩm quyền của HyperCinema. Sự chỉnh sửa, thay đổi, phân phối hoặc tái sử dụng những nội
                                    dung trong trang này vì bất kì mục đích nào khác được xem như vi phạm quyền lợi hợp pháp của HyperCinema.
                                </p>
                            </div>
                            <div class="post-header">
                                <h4 class="term-title">
                                    4. Về việc sử dụng thông tin:
                                </h4>
                                <p class="p-term">
                                    Chúng tôi sẽ không sử dụng thông tin cá nhân của bạn trên website này nếu không được phép. Nếu bạn đồng ý cung cấp thông tin cá nhân, bạn sẽ được bảo vệ. Thông tin của bạn sẽ
                                    được sử dụng với mục đích, liên lạc với bạn để thông báo các thông tin cập nhật của HyperCinema như lịch chiếu phim, khuyến mại qua email hoặc bưu điện. Thông tin cá nhân của bạn sẽ không
                                    được gửi cho bất kỳ ai sử dụng ngoài trang web HyperCinema, ngoại trừ những mở rộng cần thiết để bạn có thể tham gia vào trang web (những nhà cung cấp dịch vụ, đối tác, các công ty quảng cáo)
                                    và yêu cầu cung cấp bởi luật pháp. Nếu chúng tôi chia sẻ thông tin cá nhân của bạn cho các nhà cung cấp dịch vụ, công ty quảng cáo, các công ty đối tác liên quan, thì chúng tôi cũng
                                    yêu cầu họ bảo vệ thông tin cá nhân của bạn như cách chúng tôi thực hiện.
                                </p>
                            </div>
                            <div class="post-header">
                                <h4 class="term-title">
                                    5. Vể việc tải dữ liệu:
                                </h4>
                                <p class="p-term">
                                    Nếu bạn tải về máy những phần mềm từ trang này, thì phần mềm và các dữ liệu tải sẽ thuộc bản quyền của HyperCinema và cho phép bạn sử dụng. Bạn không được sở hữu những phầm mềm đã tải và HyperCinema 
                                    không nhượng quyền cho bạn. Bạn cũng không được phép bán, phân phối lại, hay bẻ khóa phần mềm…
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Blog-Section========== -->
<script>
    function codeAddress() {
        $('.menu li a.newsfeedac').addClass('active');
    }
    window.onload = codeAddress;
</script>
