
@{
    ViewBag.Title = "BookTicket";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<!-- ==========Banner-Section========== -->
@*<section class="details-banner hero-area bg_img" data-background="/Frontend/Client/assets/images/banner/banner03.jpg">
        <div class="container">
            <div class="details-banner-wrapper">
                <div class="details-banner-content">
                    <h3 class="title">Venus</h3>
                    <div class="tags">
                        <a href="#0">English</a>
                        <a href="#0">Hindi</a>
                        <a href="#0">Telegu</a>
                        <a href="#0">Tamil</a>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
<!-- ==========Banner-Section========== -->
<!-- ==========Book-Section========== -->
<!--<section class="book-section bg-one">
    <div class="container">
        <form class="ticket-search-form two">
<div class="form-group">
        <div class="thumb">
            <img src="/Frontend/Client/assets/images/ticket/city.png" alt="ticket">
        </div>
        <span class="type">city</span>
        <select class="select-bar">
            <option value="london">London</option>
            <option value="dhaka">dhaka</option>
            <option value="rosario">rosario</option>
            <option value="madrid">madrid</option>
            <option value="koltaka">kolkata</option>
            <option value="rome">rome</option>
            <option value="khoksa">khoksa</option>
        </select>
    </div>-->
<!--<div class="form-group">
    <div class="thumb">
        <img src="/Frontend/Client/assets/images/ticket/date.png" alt="ticket">
    </div>
    <span class="type">date</span>
    <select class="select-bar">
        <option value="26-12-19">23/10/2020</option>
        <option value="26-12-19">24/10/2020</option>
        <option value="26-12-19">25/10/2020</option>
        <option value="26-12-19">26/10/2020</option>
    </select>
</div>-->
<!--<div class="form-group">
        <div class="thumb">
            <img src="/Frontend/Client/assets/images/ticket/exp.png" alt="ticket">
        </div>
        <span class="type">Experience</span>
        <select class="select-bar">
            <option value="English-2D">English-2D</option>
            <option value="English-3D">English-3D</option>
            <option value="Hindi-2D">Hindi-2D</option>
            <option value="Hindi-3D">Hindi-3D</option>
            <option value="Telegu-2D">Telegu-2D</option>
            <option value="Telegu-3D">Telegu-3D</option>
        </select>
    </div>
<div class="form-group">
        <div class="thumb">
            <img src="/Frontend/Client/assets/images/ticket/cinema.png" alt="ticket">
        </div>
        <span class="type">cinema</span>
        <select class="select-bar">
            <option value="Awaken">Awaken</option>
            <option value="Venus">Venus</option>
            <option value="wanted">wanted</option>
            <option value="joker">joker</option>
            <option value="fid">fid</option>
            <option value="kidio">kidio</option>
            <option value="mottus">mottus</option>
        </select>
    </div>

</form>
    </div>
</section>-->
<!-- ==========Book-Section========== -->
<!-- ==========Movie-Section========== -->
<div class="ticket-plan-section padding-bottom padding-top">
    <div class="container">
        <form class="ticket-search-form two">
            <div class="form-group">
                <div class="thumb">
                    <img src="/Frontend/Client/assets/images/ticket/date.png" alt="ticket">
                </div>
                <span class="type">Ngày</span>

                <select class="select-bar showdate" id="showdate">
                    @foreach (var date in ViewBag.date)
                    {
                        <option value="@date.id">@Html.FormatValue(@date.ngay_chieu, "{0:dd/MM/yyyy}")</option>

                    }
                </select>

            </div>
        </form>
        <div class="row justify-content-center">
            <div class="col-lg-9 mb-5 mb-lg-0">
                <ul class="seat-plan-wrapper bg-five">
                    <li>
                        <div class="movie-name">
                            @*<div class="icons">
                                <i class="far fa-heart"></i>
                                <i class="fas fa-heart"></i>
                            </div>*@
                            <a href="#0" class="name">Cụm 1</a>
                            <div class="location-icon">
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                        </div>
                        <div class="movie-schedule" style="width:auto" id="thisTime">

                        </div>
                    </li>
                </ul>
            </div>
            @*<div class="col-lg-3 col-md-6 col-sm-10">
                <div class="widget-1 widget-banner">
                    <div class="widget-1-body">
                        <a href="#0">
                            <img src="/Frontend/Client/assets/images/sidebar/banner/banner03.jpg" alt="banner">
                        </a>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</div>


<!-- Modal E-->

<section class="window-warning inActive" id="modalseat">
    <div class="lay"></div>
    <div class="warning-item">
        <h6 class="subtitle">Xin chào bạn! </h6>
        <h4 class="title">Vui lòng chọn ghế !</h4>
        <div class="thumb">
            <img src="/Frontend/Client/assets/images/movie/seat-plan.png" alt="movie">
        </div>
        <div id="Seat"></div>
    </div>
</section>


<!-- ==========Movie-Section========== -->
@section Scripts{
    <script>
        $(document).ready(function () {
            var idsuatchieu = $('#showdate').val();
            loadTime(idsuatchieu);
            //Hiển thị suất chiếu theo ngày chiếu
            $('#showdate').change(function () {
                var idsuatchieu = $('#showdate').val();
                loadTime(idsuatchieu);
            });

            // Load suất chiếu
            function loadTime(idsuatchieu) {
                $.ajax({
                    url: '/Movie/ShowTime/',
                    type: 'GET',
                    data: {
                        idsuatchieu: idsuatchieu,
                    },
                    success: function (res) {
                        if (res.Count != null) {
                            var time = res.times;
                            var idsc = res.idsuatchieu;
                            var idtimes = res.idtimes;
                            var html = "";
                            html += "";
                            for (let i = 0; i < res.Count; i++) {
                                const hms = time[i];
                                const [hours, minutes, seconds] = hms.split(':');
                                const timefinal = (hours)  +":"+ (minutes);
                                html += "<div class='item' style = 'margin-right: 20px' data-id = '" + idtimes[i] + "'> ";
                                html += timefinal;
                                html += "</div>";
                            }
                            $('#thisTime').html(html);
                        }
                    }
                });
            }

            //Click vào suất chiếu
            $('body').on('click', '.item', function () {
                var idsc = $('#showdate').val();
                var idtime = $(this).data('id');
                var htmls = "";
                htmls += "<a href='/Movie/BookSeat?id=" + idsc + "&idtime=" + idtime + "' class='custom-button seatPlanButton'>";
                htmls += "Chọn ghế";
                htmls += "<i class='fas fa-angle-right'></i></a>";
                $('#Seat').html(htmls);
                sleep(100);

                $("#modalseat").removeClass("inActive").addClass("Active");
            });

            //Sleep
            function sleep(milliseconds) {
                const date = Date.now();
                let currentDate = null;
                do {
                    currentDate = Date.now();
                } while (currentDate - date < milliseconds);
            }



        });
    </script>

}