@model PagedList.IPagedList<CinemaBooking.Models.su_kien>
@using PagedList.Mvc
@{
    ViewBag.Title = "Tin tức & Sự kiện";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<!-- ==========Banner-Section========== -->
<!--<section class="main-page-header speaker-banner bg_img" data-background="/Frontend/Client/assets/images/banner/banner07.jpg">
    <div class="container">
        <div class="speaker-banner-content">
            <h2 class="title">blog - 01</h2>
            <ul class="breadcrumb">
                <li>
                    <a href="index.html">
                        Home
                    </a>
                </li>
                <li>
                    blog
                </li>
            </ul>
        </div>
    </div>
</section>-->
<!-- ==========Banner-Section========== -->
<!-- ==========Blog-Section========== -->
<section class="blog-section padding-top padding-bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 mb-50 mb-lg-0">
                <div class="row mb-10 justify-content-center">
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-6 col-lg-4">
                            <div class="movie-grid">
                                <div class="movie-thumb c-thumb">
                                    <a href="@Url.Action("NewsDetail","News", new {slug=item.slug })">
                                        <img src="~/images/news/@item.anh" alt="blog">
                                    </a>
                                </div>
                            </div>
                        </div>


                    }
                </div>
                        <!--Slider-->
                
                <div class="pagination-area text-center">
                    @Html.PagedListPager(Model, page => Url.Action("Index", "News", new { page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                </div>
            </div>
            <div >
                <aside>
                   
                </aside>
            </div>
        </div>
    </div>
</section>
<!-- ==========Blog-Section========== -->
<script>
    function codeAddress() {
        $('.menu li a.newsfeedac').addClass('active');
    }
    window.onload = codeAddress;
</script>